doctype HTML
html(lang="ja")
  head
    meta(charset="UTF-8")
    title サイト　タイトル
    link(rel="stylesheet" href="/assets/css/style.css")
    script(src="/assets/js/app.js")
  body
    h1 npm scripts test
    h2 テストです
    p test